  <h1>Carreras</h1>
  <p>Player 1 tu tecla es a </p>
  <p>Payer 2 tu tecla es l </p>

  <button>Start</button>

  <p><span id="counter"></span></p>

<table class="tabla_carreritas"><br>
<tr id="jugador_1">
	<td class="active"></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr id="jugador_2">
	<td class="active"></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
</table>

  
